<!DOCTYPE HTML>

<html>
	<head>
		<title>Help Center - Bigdiscount</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="{{ base_url() }}/frontEnd/css/bootstrap.min.css" />
		<link rel="stylesheet" href="{{ base_url() }}/frontEnd/css/main.css" />
		
		<link rel="icon" href="https://www.bigdiscount.com.au/pub/media/logo/stores/1/logo.png" type="image/gif" sizes="16x16">
	</head>
	<body id="top">