<!--
				To use a video as your background, set data-video to the name of your video without
				its extension (eg. images/banner). Your video must be available in both .mp4 and .webm
				formats to work correctly.
			-->
<section id="banner">
	<div class="inner">
		<header>
			<h1>Help Center</h1>
			<form action="/hc/search" method="post">
				<input type="search" name="searchString" class="search-box" placeholder="Enter your question ..">
				<input type="submit" value="Search" class="btn btn-large search-botton" />
			</form>
			<p>Please enter you question and press search botton or search by the inquiry type as available below.</p>

		</header>
		<a href="#main" class="more">Learn More</a>
	</div>
</section>

<div id="main"> 
	<div class="inner">
		
		