<div class="container">
    <div class="row" style="margin: 10px">
        <p style="font-size: 20px; font-weight: bolder; color: white;">If you have not found the answer yet. Send us a message.</p>
        <a href="https://www.bigdiscount.com.au/hc/contact-us">
            <button class="btn btn-large btn-info" style="display:block; margin: 0 auto; font-size:30px">
                Send Message
            </button>
        </a>
    </div>
</div>    
<hr />