 
              <nav class="navbar navbar-inverse">
                    <div class="container-fluid">
                        <div class="navbar-header">
                            <a class="navbar-brand" href="https://www.bigdiscount.com.au">
                                <img src="https://www.bigdiscount.com.au/pub/media/logo/stores/1/logo.png" alt="Bigdiscount logo">
                            </a>
                        </div>
                        <div class="collapse navbar-collapse navbar-text navbar-right">
                            <ul class="nav navbar-nav">
                            <li><a href="https://www.bigdiscount.com.au/customer/account/login/">Sign</a></li>
                            <li><a href="https://www.bigdiscount.com.au/customer/account/create/">Register</a></li>

                            </ul>
                        </div>
                    </div>
                  
                  
              </nav>
           
            