<div class="container">
    <div class="row">

        {{#if success_message}}
        <div class="alert alert-success">
            {{success_message}}
        </div>
        {{/if}} {{#if error}}
        <div class="alert alert-danger">
            {{error}}
        </div>
        {{/if}}


        <div class="card card-login mx-auto mt-5">
            <div class="card-header">Reset Password</div>

            <div class="card-body">
                <div id="card-body">
                    <form action="/hc/change-pass" method="post">
                        <input type="hidden" value="{{email}}" name="email">
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input name="password" class="form-control" id="password" type="password" placeholder="Enter email" onblur="dataValidation()" required >
                        </div>
                        <div class="form-group">
                            <label for="confirmPassword">Confirm Password</label>
                            <input name="confirmPassword" class="form-control" id="confirmPassword" type="password" placeholder="Confirm Password" onblur="dataValidation()" required>
                        </div>
                        <div id="msgContainer"></div>
                        <ul>
                            <li>Must match the password and confirm password</li>
                            <li>Contains uppder, lower, number and a spical charector</li>
                            <li>Length should be bewteen 6-20 charectors</li>
                        </ul>
                        <button type="submit" id="submit" class="btn btn-primary btn-block" disabled>Update</button>
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>

<script>

    function dataValidation(){
        var pass = document.getElementById("password").value;
        var confirmPass = document.getElementById("confirmPassword").value;

        if(validatetion(pass) == true && validatetion(confirmPass) == true && pass === confirmPass){
            document.getElementById("msgContainer").innerHTML = '';

            document.getElementById("submit").disabled = false;
        }else{
            document.getElementById("msgContainer").innerHTML = "<p class='alert alert-danger'>Please make suer the following rules is satisfied.</p>";
            document.getElementById("submit").disabled = true;
        }
    }

    function validatetion(str){

        var strongRegex = new RegExp("^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!@#_\$%\^&\*])(?=.{6,20})");
        return strongRegex.test(str);
            

    }


</script>